@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
  font-family: 'AGaramondPro';
  src: url('fonts/AGaramondPro/AGaramondPro.eot');
  src: url('fonts/AGaramondPro/AGaramondPro.eot?#iefix') format('embedded-opentype'),
       url('fonts/AGaramondPro/AGaramondPro.woff2') format('woff2'),
       url('fonts/AGaramondPro/AGaramondPro.woff') format('woff'),
       url('fonts/AGaramondPro/AGaramondPro.ttf')  format('truetype'),
       url('fonts/AGaramondPro/AGaramondPro.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'Futura';
  src: url('fonts/Futura/Futura.eot');
  src: url('fonts/Futura/Futura.eot?#iefix') format('embedded-opentype'),
       url('fonts/Futura/Futura.woff2') format('woff2'),
       url('fonts/Futura/Futura.woff') format('woff'),
       url('fonts/Futura/Futura.ttf')  format('truetype'),
       url('fonts/Futura/Futura.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'CaslonBookBE';
  src: url('fonts/CaslonBookBE/CaslonBookBE.eot');
  src: url('fonts/CaslonBookBE/CaslonBookBE.eot?#iefix') format('embedded-opentype'),
       url('fonts/CaslonBookBE/CaslonBookBE.woff2') format('woff2'),
       url('fonts/CaslonBookBE/CaslonBookBE.woff') format('woff'),
       url('fonts/CaslonBookBE/CaslonBookBE.ttf')  format('truetype'),
       url('fonts/CaslonBookBE/CaslonBookBE.svg#svgFontName') format('svg');
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
img[usemap], map area, a { outline: none; }
.contentArea {
	color: #231815;
	font-size: 26px;
	letter-spacing: 0;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	word-wrap: break-word;
	background-color: #fff;
	margin-bottom: 50px;
	background: url(../../include_html/images_sp/special/17xmas_jmo/bg_sp.jpg) repeat center 0;
	background-attachment: fixed;
}
.contentArea *,
.contentArea *:before,
.contentArea *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
.contentArea em {
	font-style: normal;
}
.areaInner {
	float: left;
	width: 100%;
}
#promotion_fix { display: none !important; }

/* module */
#footerWrap { clear: both; }
.opa:hover {
	-moz-transition: all 0.26s ease-out;
	-o-transition: all 0.26s ease-out;
	-webkit-transition: all 0.26s ease-out;
	-ms-transition: all 0.26s ease-out;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.anchor {
	float: none;
	margin-right: 0;
	width: 100%;
	font-size: 0;
	height: 0;
	margin-top: -40px;
	padding-top: 40px;
}
.imgMax { width: 100%; }
.noDisplay { display: none; }
.pc { display: block; }
.sp { display: none; }
.mb0 { margin-bottom: 0; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mb40 { margin-bottom: 40px; }
.mb45 { margin-bottom: 45px; }
.mb50 { margin-bottom: 50px; }
.mb60 { margin-bottom: 60px; }
.mb65 { margin-bottom: 65px; }
.mb70 { margin-bottom: 70px; }
.mb90 { margin-bottom: 90px; }
.mb95 { margin-bottom: 95px; }
.mb150 { margin-bottom: 150px; }

/* ------------------------------ */
/* leadBox */
.leadBox {
	position: relative;
	margin-bottom: 0;
}
.leadBox .leadBtn {
	position: absolute;
	left: 40px;
	top: 360px;
	font-size: 20px;
	line-height: 1.5;
	display: none;
}
.leadBox .leadBtn a {
	display: block;
	color: #fff;
	letter-spacing: 1px;
	background-color: #540A0B;
	padding: 18px 70px 12px 22px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
	position: relative;
}
.leadBox .leadBtn a:before {
	display: block;
	content: '';
	position: absolute;
	right: 20px;
	top: 50%;
	width: 34px;
	height: 34px;
	z-index: 1;
	margin-top: -17px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 25%, #f4f2f3 50%, #e3e2e0 75%, #cac6c7 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 25%,#f4f2f3 50%,#e3e2e0 75%,#cac6c7 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 25%,#f4f2f3 50%,#e3e2e0 75%,#cac6c7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cac6c7',GradientType=0 );
}
.leadBox .leadBtn a:after {
	display: block;
	content: "";
	position: absolute;
	right: 31px;
	top: 50%;
	width: 0;
	height: 0;
	z-index: 2;
	margin-top: -6px;
	border-bottom: 6px solid transparent;
	border-left: 8px solid #540A0B;
	border-top: 6px solid transparent;
}
.leadBox .leadBtn .text {
	display: block;
	font-size: 22px;
	line-height: 1.4;
	letter-spacing: 2px;
}
.leadBox .leadBtn .date,
.leadBox .leadBtn .time {
	font-family: "AGaramondPro";
	font-weight: bold;
	color: #fff;
}
.leadBox .leadBtn .date {
	font-size: 24px;
}

/* leadAnchor */
.leadAnchor {
	background: #fff;
	margin: 0;
}
.leadAnchor li {
	float: none;
	width: 100%;
	font-size: 33px;
	line-height: 1.3;
	text-align: left;
	padding: 0;
	cursor: pointer;
}
.leadAnchor li a {
	display: block;
	height: 90px;
	padding: 24px 0 0 40px;
	color: #fff;
	background: #4a3128;
	position: relative;
	cursor: pointer;
	margin-top: 1px;
}
.leadAnchor li:first-child a {
	margin-top: 0;
}
.leadAnchor li a:after {
	content: "";
	position: absolute;
	right: 50px;
	top: 50%;
	width: 20px;
	height: 20px;
  	margin-top:-13px;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	-moz-transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	transform: rotate(225deg);
}
.tilde1 {
	margin-left: 22px;
}
.tilde2 {
	margin-left: 10px;
}
.tilde3 {
	margin-left: 46px;
}

/* ------------------------------ */

.parentContent {
	width: 840px;
	padding: 26px 0;
	height: 100%;
	
}
.childContent {
	width: 788px;
	margin: 0 auto 92px auto;
	background: #fff;
	padding: 74px 0 70px 0;
}
.childContent2 {
	padding: 55px 0 70px 0;
	margin: 92px auto 0 auto;
}
.itemBox {
	text-align: center;
	padding: 0 34px;
	margin-bottom: 80px;
}
.itemBox:last-child {
	margin-bottom: 0;
}
.itemBox2 {
	margin-bottom: 113px;
}
.itemBox3 {
	margin-bottom: 135px;
}
.itemBox .title1 {
	margin-bottom: 70px;
}
.itemBox .title2 {
	margin-bottom: 40px;
}
.itemBox .title3 {
	margin-bottom: 57px;
}
.itemBox h4, .coffretBox .inner h4 {
	font-size: 38px;
	font-weight: bold;
	margin: 30px 0 40px 0;
}
.coffretBox .inner h4 {
	line-height: 1.5;
	margin: 0 auto;
}
.itemBox .price2 {
	margin: 32px 0;
}
.itemBox h4 span, .coffretBox .inner h4 span {
	display: inline-block;
	vertical-align: middle;
	font-size: 38px;
}
.itemBox h4 em, .coffretBox .inner h4 em {
	font-size: 26.25px;
	font-style: normal;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.itemBox .buttonAccordion {
	width: 590px;
	margin: 0 auto 54px auto;
	position: relative;
}
.itemBox .buttonAccordion::before {
	content: '';
	position: absolute;
	right: 58px;
	top: 44%;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 18px solid #9f8054;
	z-index: 10;
}
.itemBox .buttonAccordion::after {
	content: '';
	position: absolute;
	display: block;
	right: 42px;
	top: 19%;
	width: 56px;
	height: 56px;
	background: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
.itemBox .buttonAccordion1.active::before, .itemBox .buttonAccordion3.active::before, .itemBox .buttonAccordion4.active::before, .itemBox .buttonAccordion5.active::before {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	top: 40%;
}
.itemBox .buttonAccordion2::before {
	transform: rotate(-90deg);
	top: 41%;
	right: 54px;
}
.itemBox .buttonAccordion img {
	width: 100%;
}
.itemBox .accordionContent1, .itemBox .accordionContent3, .itemBox .accordionContent4, .itemBox .accordionContent5 {
	display: none;
}
.itemBox .accordionContent ul li {
	width: 50%;
	float: left;
	position: relative;
}
.itemBox .accordionContent ul li img {
	width: 100%;
	height: 463px;
}
.itemBox .accordionContent .name {
	width: 100%;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	position: absolute;
	bottom: 20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 100;
}
.itemBox .accordionContent .name2 {
	bottom: 55px;
}
.itemBox .imgDemo {
	margin-bottom: 40px;
}
.star {
	text-align: right;
	margin-top: -410px;
	margin-right: -34px;
}
.star img {
	width: 336px;
}
.itemBox .accordionContent .gift {
	margin-bottom: 25px;
}
.itemBox .accordionContent .gift2 {
	margin-bottom: 40px;
}
.itemBox .accordionContent .gift3 {
	margin-bottom: 66px;
}
.itemBox .accordionContent .gift img {
	width: 100%;
}
.itemBox .accordionContent .buyButton {
	width: 590px;
	margin: 0 auto;
}
.itemBox .accordionContent .buyButton img {
	width: 100%;
}

.bgStar {
	width: 788px;
	margin: 0 auto;
}

.collaboration {
	width: 788px;
	margin: 0 auto;
	height: auto;
	background: #f5f4ef;
	padding: 83px 20px 38px 35px;
}
.collaboration img {
	width: 100%;
}
.titleCoffret {
	margin-bottom: 98px;
}
.coffretBox {
	width: 693px;
	margin: 0 auto;
}
.boxKitXmas {
	margin-bottom: 162px;
}
.boxKitXmas:last-child {
	margin-bottom: 0
}

.circleXmas {
	top: -20px!important;
	left: 18px!important;
	width: 189px!important;
	height: 189px!important;
	font-family: "Futura";
	font-weight: normal;
	background-color: #4a3228!important;
}
.circleXmas2 {
	top: -35px!important;
}
.circleXmas span {
	font-size: 39px;
}
.circleXmas span em {
	font-size: 27px;
	font-style: normal;
}
.barXmas {
	padding: 0 0 0 230px!important;
	font-size: 39px!important;
	background-color: rgba(97,90,149,0)!important;
	font-weight: normal!important;
	letter-spacing: 0!important;
}
.boxKitXmas .inner {
	padding: 60px 0 0 0;
} 
.boxKitXmas .inner2 {
	padding: 100px 0 0 0;
} 
.boxKit .inner .aBuy {
	margin-top: 10px;
}
.boxKit .inner .aBuyXmas2 {
	margin-top: 35px;
}
.boxKit .inner .aBuyXmas3 {
	margin-top: 50px;
}
.boxKit .inner .aBuyXmas li {
	margin-bottom: 0;
}
.boxKit .inner .aBuyXmas li img {
	width: 460px!important;
}
.boxKit .inner .photoXmas {
	margin-bottom: 42px;
}
.boxKit .inner .photoXmas2 {
	margin-bottom: 10px;
}


.promotionContent {
	width: 100%;
	background: #fff;
	padding: 55px 0;
}
.promotionContent ul {
	margin-bottom: 2px;
	margin: -1px 0
}
.promotionContent ul li {
	float: left;
	width: 50%;
	padding: 1px;
}
.promotionContent ul li:last-child {
	padding-right: 0;
}

@media only screen and (min-device-width: 768px) {
.fixedBg { display: none; }
}

/* ================================== FOR SMARTPHONE ================================== */
@media only screen and (max-device-width: 767px) {
.pc { display: none; }
.sp { display: block; }
.socialsm { display: none; }
.contentArea {
	/*font-size: 26px;*/
	
}
.opa:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.bnrPresent {
	margin: 0 0 -12px !important;
	padding: 5px 0 15px;
	background: #fff;
}
.breadcumb,
.noticeBox {
	background: #fff;
}
.moreTxt {
	background: #fff;
	margin: 0;
	padding: 20px 0;
}
.contentArea {
	background: none;
	margin-bottom: -1px;
}
.fixedBg {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 120%;
	font-size: 0;
	background: url(../../include_html/images/special/17xmas_jmo/bg_02.jpg) repeat center 0;
}

}


/* menu SP */
#pointShowMenu {
	font-size: 0;
	height: 0;
}
.closeBtn {
	position:fixed;
	right:5%;
	top:55px;
	width:80%;
	text-align: right;
}
.closeBtn img {
	width: 45px;
	height: auto;
	vertical-align: middle;
}
.slide_btn {
	width:110px;
	position:fixed;
	top:20px;
	left:20px;
	z-index:1000;
	display:none;
}
#drawer {
	display:none;
	width:100%;
	height:120%;
	position:fixed;
	z-index:999;
	top:0;
	left:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	background:rgba(255,255,255,0.9);
}
#drawer .lists {
	padding:150px 0 50px 0;
}
#drawer li img { width:100%; }